body {
    background-color: #e4eff2;
    margin: center;
}
.container {
    	background-color: #e4eff2;
}
.top {
	background-color: #f5d7cb;
}
.right_article {
    	background-color: #7e8a91;
}
.nav li {
  	display:inline;
  	background: #f5d7cb;
}
.container img {
    	margin: auto; 
    	display: block; 
}
.header-logo-wrapper { 
	text-align: center; 
}
ul.nav { 
	text-align: center; 
}
h1 {
	color: #5b3327;
}
h2 {
	color: #5b3327;
}
h3 {
	color: #5b3327;
}
